.customTree .rst__rowContents {
  letter-spacing: 0.02rem;
  font-size: 1.25rem;
  font-family: Helvetica, sans-serif;
  background-color: #ccceda;
  color: rgb(58, 75, 136);
}

.customTree .rst__moveHandle {
  background-color: var(--mantine-primary-color-filled);
  color: var(--_app-shell-border-color);
}

.customTree .rst__lineBlock::before,
.customTree .rst__lineBlock::after {
  background-color: var(--_app-shell-border-color);
}
